.ruby-version

# hidden files
.ruby-version
.container


# python compiled files
*.pyc

# jekyll debug
_site

# Jeykll Gemfile.lock
Gemfile.lock

# yui-compressor
*.jar

# bundle cache
vendor

# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist
